{
  "icc": {{ cis_rule_2_1 }},
  "log-level": "{{ cis_rule_2_2 }}",
  "iptables": {{ cis_rule_2_3 }},
  "userns-remap": "{{ cis_rule_2_8 }}",
  "live-restore": {{ cis_rule_2_13 }},
  "userland-proxy": {{ cis_rule_2_14 }},
  "no-new-privileges": {{ cis_rule_2_17 }},
{% if ansible_virtualization_type == "docker" %}
  "storage-driver": "vfs"
{% else %}
  "storage-driver": "overlay2"
{% endif%}
}